# Environments
venv/
.env

# Python internals
__pycache__/
*.py[cod]
*$py.class

# OS Files
.DS_Store
Thumbs.db

# Model Artifacts (Optional: Keep .pkl if you want the judge to have it immediately)
# models/